---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{#- ABOUTME: Generates /sitemap.xml from all content pages for search indexing. -#}
{#- ABOUTME: URLs are absolute; baseUrl comes from Netlify at build time. -#}
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  <url>
    <loc>{{ baseUrl }}{{ page.url }}</loc>
  </url>
{%- endfor %}
</urlset>
